
<div class="mainbox">
<h2>Status Twojego zamówienia</h2>

<ul>
    <li ng-repeat="pizza in orderStatus.order.order">{{menu[pizza.pizza.id-1].name}} x{{pizza.quantity}}</li>
</ul>
Detale zamówienia:<br/>
<table>
    <tr>
        <td>Numer telefonu::</td>
        <td>{{orderStatus.orderInfo.phone}}</td>
    </tr>
    <tr>
        <td>Adres zamieszkania:</td>
        <td>{{orderStatus.orderInfo.street}}</td>
    </tr>
    <tr>
        <td>Więcej:</td>
        <td>{{orderStatus.orderInfo.remarks}}</td>
    </tr>
</table>

<p>Status: {{status}}</p>

<button type="submit" ng-click="back()">Powrót</button>

</div>